.footer {
    margin-top: 200px;
}

.footer_logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    /* margin-top: 100px; */
    margin-bottom: 10px;
    /* margin-top: 20px; */
}

.facebook {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-right: 10px;
    display: inline-block;
}

.instagram {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
}

.footer_social {
    text-align: center;
    /* margin-top: 20px; */
}

.ligne-centree {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ligne-centree hr {
    width: 85%;
    border: none;
    border-top: 1px solid #80584E;
}

.footer_text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f6efc3;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 100px;
    }

    .footer_logo {
        width: 80px;
        height: 80px;
    }

    .facebook {
        width: 30px;
        height: 30px;
    }

    .instagram {
        width: 30px;
        height: 30px;
    }

    .footer_text {
        font-size: 15px;
    }
}