.presentation {
  height: calc(100vh - 133px);
}

.presentation_grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.presentattion_img {
  max-height: calc(100vh - 133px);
  position: relative;
}

.Logo_Presentation {
    /* width: 100%; */
    max-width: 200%;
    position: absolute;
    top: -500px;
    left: -100px;
      
    /* max-height: calc(100vh - 133px); */
    /* max-width: calc(50vw - 66.5px); */
    /* position: relative; */
}

.presentation_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* margin-top: 150px; */
    margin-bottom: -10vh;
    margin-left: 50px;
}

.presentation_h1 {
    color: #f6efc3;
    font-size: 50px;
    margin-bottom: 10px;
}

.presentation_h2 {
    color: #cf8e7b;
    font-size: 20px;
    margin-bottom: 20px;
}

.presentation_p {
    color: #80584E;
    max-width: 600px;
    font-size: 20px;
    margin-bottom: 30px;
}

#presentation_button_2 {
    margin-left: 50px;
}

.btn {
    display:  inline-block;
    color:  #cf8e7b;
    background-color:  #f6efc3;
    padding:  .5rem 2rem;
    font-size: 1.25rem;
    line-height:  1.5;
    cursor: pointer;
}