.ThirdMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 100%; */
    height: 80vh;
    place-content: center;
    margin: 0 auto;
    /* max-width: 1440px; */
    align-items: center;
    padding: 0 10px;
}

.ThirdMain_txt {
    color: white;
    padding-left: 50px;
    /* padding-top: 200px; */
}

.ThirdMain_txt h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #d25212;
}

.ThirdMain_txt h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #2f3546;
}

.ThirdMain_p1 {
    font-size: 20px;
    margin-top: 20px;
    color: #d25212;
    margin-bottom: 20px;
}

.ThirdMain_p2 {
    font-size: 18px;
    margin-top: 40px;
    color: #2f3546;
}

.ThirdMain_img {
    width: 50%;
    height: 50%;
    /* object-fit: contain; */
    margin: 0 auto;
}

.ThirdMain_div_img {
    display: flex;
}