@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.temoignage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 100px 50px 100px;
  margin: 0 50px 0 50px;
  text-align: center;
  margin-top: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #80584E;
  border-radius: 10px;
  /* background-color: #f6efc3; */
}

.temoignage span {
  margin-bottom: 20px;
}

.temoignage p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #cf8e7b;
  /* margin-bottom: 20px; */
}

.temoignage_id {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

.temoignage_id img {
    width: 50px;
    height: 50px;
    /* margin-right: 20px; */
    margin: 0 auto;
}