@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: 'Lobster';
  max-width: 1440px;
  box-sizing: border-box;
}

html {
  background-color: #feefd5;
  margin: 0 auto;
  padding: 0 10px;
  scroll-behavior: smooth;
  /* background-image: url('../Assets/background.jpg'); */
}

body {
  margin: 0 auto;
}
