.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

li {
    text-align: center;
    margin: 0 25px;
}

a {
    text-decoration: none;
    color: #2f3546;
    font-size: 20px;
}

.navbar_logo,
.navbar_facebook,
.navbar_instagram {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar_logo {
    left: 0;
    width: 90px;
    height: 90px;
    margin: 5px 0 0 30px;
}

.navbar_facebook {
    right: 0;
    width: 30px;
    height: 30px;
    margin: 0 50px;
}

.navbar_instagram {
    right: 60px;
    width: 30px;
    height: 30px;
    margin: 0 50px;
}
