.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 50vh;
}

.social_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.social_container_grid {
    display: flex;
    padding: 5px 35px 5px 35px;
    align-items: center;
    border: 1px solid #80584E;
    border-radius: 50px;
    background-color: #f6efc3;
    margin-top: 50px;
}

.social_container_grid img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    justify-self: end;
    margin-right: 20px;
}

.social_container_grid p {
    color: #cf8e7b;
    font-size: 1.1rem;
}

#social_container_contact {
    padding-right: 50px;
    margin-top: 150px;
    height: 100%;
}

.social h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f6efc3;
}

.social label {
    color: #cf8e7b;
    font-size: 1.2rem;
}

.social p {
    color: #cf8e7b;
}

.social input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #80584E;
    border-radius: 5px;
    background-color: #f6efc3;
}

.social_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
}

.social_info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#social_message {
    width: 100%;
}

#social_info_message  {
    padding-bottom: 100px;
}

.social button {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #80584E;
    border-radius: 5px;
    background-color: #f6efc3;
    color: #cf8e7b;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .social {
        margin-top: 200px;
        flex-wrap: wrap;
        height: auto;
    }

    .social_container {
        width: 80%;
    }

    .social_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .social_container_grid p {
        font-size: 1rem;
    }

    /* .social h1 {
        font-size: 1.5rem;
    } */

    #social_container_contact {
        /* padding: 0 5vw 0 5vw; */
        justify-content: center;
        margin-top: 50px;
        padding-right: 0;
    }
}

@media screen and (max-width: 419px) {
    .social_container_grid p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 368px) {
    .social_container_grid p {
        font-size: 0.6rem;
    }
}